snippet cl "console.log()"
console.log(${1});
endsnippet

snippet rdm "random"
Math.floor(Math.random()*${1});
endsnippet

snippet for "for(let i=0;i<arr.length-1;i++>)"
for (let i = 0; i < ${1:arr}.length - 1; i++) {
	${2}
}
endsnippet
